html {
  /* font-size: 20px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  padding: 0 1.5em;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}
li {
  margin: 0 0.5em;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#icon {
  display: none;
}

#logo {
  display: flex;
  height: 2em;
  align-items: center;
}

#gray {
  color: gray;
}

.section_a {
  background-color: lightgray;
  display: flex;
}

.section_a .left {
  padding: 2em 1.5em;
  width: 60%;
}

.section_a .left img {
  width: 100%;
  height: auto;
}

.section_a .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1.5em;
  width: 30%;
}

.button {
  width: 80%;
}

button {
  background-color: dimgray;
  width: 100%;
  padding: 0.5em 0;
  color: white;
  border: none;
}

.section_b {
  display: flex;
}

.section_b .left {
  padding: 2em 1.5em;
  width: 60%;
}

.section_b .left img {
  width: 100%;
  height: auto;
}

.section_b .left h2 {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.section_b .right {
  border-left: 0.5px solid lightgray;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

.ad_container {
  display: flex;
  padding: 1em;
  box-shadow: 2px 2px 2px lightgray;
}

.ad_img {
  width: 35%;
  margin-right: 1em;
}

.ad_container img {
  width: 100%;
  height: auto;
}

#gray_background {
  background-color: lightgray;
}

.section_b a {
  color: blue;
}

.section_c {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 4.5em;
}

.subjects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.course {
  box-sizing: border-box;
  width: 30%;
  background-color: white;
  margin: 1em;
}

.img img {
  height: auto;
  width: 100%;
}

.course_text {
  padding: 1em 3em 1.5em 1em;
}

.section_d h2 {
  margin: 2em auto;
  display: flex;
  justify-content: center;
}

.section_d .content {
  display: flex;
}

.section_d .left {
  width: 60%;
  padding: 0 1.5em 2em 1.5em;
}

video {
  width: 100%;
}

.thesis {
  display: flex;
}

.thesis_img {
  padding: 1em;
  width: 35%;
}

.thesis_img img {
  width: 100%;
}

.thesis_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
}
