html {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  /* color: rgb(37, 37, 37); */
}

/* navbar */

nav {
  padding: 0 1.5em;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}
li {
  margin: 0 0.5em;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#logo {
  display: flex;
  height: 2em;
  align-items: center;
}

#gray {
  color: gray;
}

@media only screen and (min-width: 901px) {
  #icon {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  nav .hide {
    display: none;
  }
}

/* section_a */

.section_a {
  background-color: lightgray;
  display: flex;
}

.section_a .left {
  padding: 2em 1.5em;
  width: 60%;
}

.section_a .left img {
  width: 100%;
  height: auto;
}

.section_a .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1.5em;
  width: 30%;
}

.button {
  width: 80%;
}

button {
  background-color: dimgray;
  width: 100%;
  padding: 0.5em 0;
  color: white;
  border: none;
}

@media only screen and (max-width: 900px) {
  .section_a {
    display: block;
  }
  .section_a .left {
    width: 100%;
    padding: 0;
  }
  .section_a .right {
    box-sizing: border-box;
    width: 100%;
    padding: 1.5em 1em;
  }
  .button {
    width: 100%;
  }
}

/* section_b */

.section_b {
  display: flex;
}

.section_b .left {
  padding: 2em 1.5em;
  width: 60%;
}

.section_b .left img {
  width: 100%;
  height: auto;
}

.section_b .left h2 {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.section_b .right {
  border-left: 0.5px solid lightgray;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

.ad_container {
  display: flex;
  padding: 1em;
  box-shadow: 2px 2px 2px lightgray;
}

.ad_img {
  width: 35%;
  margin-right: 1em;
}

.ad_container img {
  width: 100%;
  height: auto;
}

#gray_background {
  background-color: lightgray;
}

.section_b a {
  color: blue;
}

@media only screen and (min-width: 901px) {
  #mobile {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .section_b .left {
    display: none;
  }
  .section_b .right {
    width: 100%;
  }
  .ad_container {
    display: block;
    box-shadow: none;
  }
  .ad_img {
    width: 100%;
  }

  #gray_background {
    background-color: white;
  }
  #desktop {
    display: none;
  }
}

/* section_c */

.section_c {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 4.5em;
}

.subjects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.course {
  width: 29%;
  background-color: white;
  margin: 1em;
}

.img img {
  height: auto;
  width: 100%;
}

.course_text {
  padding: 1em 3em 1.5em 1em;
}

@media only screen and (max-width: 900px) {
  .section_c {
    background-color: white;
    padding: 0;
  }

  .subjects {
    display: block;
    width: 100%;
  }

  .course {
    background-color: lightgray;
    width: 100%;  }

  .section_c h3 {
    font-weight: normal;
  }

  .section_c img,
  .section_c p {
    display: none;
  }
}

/* section_d */

.section_d h2 {
  margin: 2em auto;
  display: flex;
  justify-content: center;
}

.section_d .content {
  display: flex;
}

.section_d .left {
  width: 60%;
  padding: 0 1.5em 2em 1.5em;
}

video {
  width: 100%;
}

.thesis {
  display: flex;
}

.thesis_img {
  padding: 1em;
  width: 35%;
}

.thesis_img img {
  width: 100%;
}

.thesis_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .section_d #hide {
    display: none;
  }

  .section_d .left {
    width: 100%;
    padding: 0;
  }
}

/* footer */

footer {
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  footer {
    font-size: 10px;
  }

  footer ul {
    display: none;
  }
}
